<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    body { font-family: "Times New Roman", serif; margin: 40px; }
    .kop { text-align: center; border-bottom: 3px solid black; padding-bottom: 10px; }
    .kop img { height: 80px; }
    .judul { text-align: center; font-size: 18px; font-weight: bold; text-decoration: underline; margin-top: 20px; }
    .isi { margin-top: 30px; line-height: 1.6; }
    .ttd { text-align: right; margin-top: 50px; }
  </style>
</head>
<body>
  <div class="kop">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Logo_Kabupaten_Bandung_Barat.png" alt="logo">
    <div>PEMERINTAH KABUPATEN CONTOH<br>KECAMATAN KERTASARI, KELURAHAN CIBIRU</div>
  </div>

  <div class="judul">SURAT KETERANGAN DOMISILI</div>
  <div style="text-align:center;">Nomor: 123/SKD/VI/2025</div>

  <div class="isi">
    Yang bertanda tangan di bawah ini menerangkan bahwa:<br><br>
    <ul>
      <li>Nama: <strong>{{nama}}</strong></li>
      <li>Alamat: {{alamat}}</li>
      <li>Keperluan: {{keperluan}}</li>
    </ul>
    <br>
    Demikian surat ini dibuat dengan sebenarnya untuk dipergunakan sebagaimana mestinya.
  </div>

  <div class="ttd">
    Cibiru, {{tanggal}}<br><br>
    <strong>Lurah Cibiru</strong><br><br><br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Tanda_tangan.svg/200px-Tanda_tangan.svg.png" width="120"><br>
    (Andi Subagyo)
  </div>
</body>
</html>
